<h2> Add new post </h2>
<p>
	<form action="/new" method="POST">
		<div class="form-group">
			<textarea name="content" class="form-control" rows="3" placeholder="Type post text here"></textarea>
		</div>
  		<div class="form-group">
  			<input name="author" type="text" class="form-control" placeholder="Nickname">
  		</div>
  		<button type="submit" class="btn btn-primary">Publish post</button>
	</form>
</p>